@model EBAUExercise.Models.OrderReports

@{
    ViewBag.Title = "AllOrders";
}

<table class="customer-table" id="#chart1">
    <tr>
        <th>Customer ID</th>
        <th>Order ID</th>
        <th>Order Total</th>
        <th>Time of Order</th>
    </tr>
    <tr>
        @if (Model != null)
        {
            @foreach (var item in Model.CustomerOrders.Items)
            {
                <tr>
                    <td>@item.CustomerId</td>
                    <td>@item.OrderId</td>
                    <td>&#36;@item.OrderTotal</td>
                    <td>@item.OrderDate</td>
                </tr>
            }
        }
    </tr>
</table>
