@model EBAUExercise.Models.OrderReports

@{
    ViewBag.Title = "OrdersByDate";
}

<table class="customer-table" id="#chart3">
    <tr>
        <th>Order Date</th>
        <th>Order Count</th>
        <th>Order Total</th>
    </tr>
    <tr>
        @if (Model != null)
        {
            @foreach (var item in Model.OrdersByDate.Items)
            {
            <tr>
                <td>@item.OrderDate</td>
                <td>@item.OrderCount</td>
                <td>&#36;@item.OrderTotal</td>
            </tr>
            }
        }
    </tr>
</table>
