@model EBAUExercise.Models.OrderReports

@{
    ViewBag.Title = "OrdersByCustomer";
}

<table class="customer-table" id="#chart2">
    <tr>
        <th>Customer ID </th>
        <th>Order Count</th>
        <th>Order Total</th>
    </tr>
    <tr>
        @if (Model != null)
        {
            @foreach (var item in Model.OrdersByCustomer.Items)
            {
            <tr>
                <td>@item.CustomerId</td>
                <td>@item.OrderCount</td>
                <td>&#36;@item.OrderTotal</td>
            </tr>
            }
        }
    </tr>
</table>
